.crud-app{
 width: 100%;
 border-collapse: collapse;
}
.crud-app tr{
  text-align: center;
}
.crud-app tr:nth-child(even){
background-color: antiquewhite;
}
.crud-app td{
  padding:12px 0;
}
.crud-app th{
  background-color: #704648 ;
  color: white;
}
